{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Prediction
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/dev/topics/templates/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->
    <p>
        Now please estimate how likely you think member {{predict_role}}
        is maximally willing to pay the given amount for the product
        <strong>that is produced with 100% sustainable inputs</strong>.
    </p>

    {% for field in form %}
        {% formfield field %}
    {% endfor %}

    {% next_button %}

{% endblock %}

