{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Thank you
{% endblock %}

{% block content %}

	<div class="panel panel-default" style="float:left;margin-bottom:10px;">
        <div class="panel-body">
            <p>Thank you for participating in this experiment. Your payment will be transferred shortly</p>
    		<p>Please be aware that <strong>payment can take up to 24 hours</strong>.</p> 
        </div>
    </div>

{% endblock %}

{% block form %}

{% endblock %}