{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/dev/topics/templates/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->
    
    <p>
        You are endowed with a budget of {{Constants.endowment}}. In this task you will be asked how much
        of this endowment you are willing to pay for a sustainable product.
    </p>
    {% next_button %}

{% endblock %}
